/**------------------------- start service inner pages -----------------------**/
/**------ start global sections ------**/
.service_overview_1 {
    background: #f1f1f1;
    width: 100%;
    background-size: cover;
}

.service_overview_2 {
    background: #ffffff;
    width: 100%;
    background-size: cover;
}

/**------ end global sections ------**/
/**------ start service icons ------**/
.service_icon_content {
    width: 100%;
    background: #F8F9F9;
    transition: all 0.5s;
}

.service_icon_content:hover {
    box-shadow: 0 0 15px 0 rgba(80, 80, 80, 0.490196);
}

.service_icon_content img {
    width: 70px;
    height: 70px;
}

.col-animated {
    transition: all 0.7s !important;
}

/**------ end service icons ------**/
/**------ start service types ------**/
.service_types_section {
    background: #F7F7F8;
    width: 100%;
}

.service_types_section .service_type_shadow {
    border-radius: 33px 33px 33px 33px;
    box-shadow: -5px -4px 0 1px #FFF;
}

.service_types_section .service_type_shadow .inner_shadow {
    background-color: #F2F3F4;
    box-shadow: 9px 8px 18px 0 #B4B4B5;
    border-radius: 33px 33px 33px 33px;
}

.service_types_section .service_type_shadow .inner_shadow img {
    width: 125px;
    height: 125px;
    object-fit: contain;
}

/**------ end service types ------**/
/**------ start service animation icons ------**/
.service_icons_section {
    background: #040025;
    width: 100%;
}

.service_icons_section .effect_content .service_type_shadow {
    border-radius: 50%;
    border: 3px solid #96999C;
    transition: all 0.5s;
}

.service_icons_section .effect_content .service_type_shadow .inner_shadow {
    background-color: transparent;
}

.service_icons_section .effect_content .service_type_shadow .inner_shadow img {
    width: 80px;
    height: 80px;
}

.service_icons_section .effect_content .service_type_shadow:Hover {
    background: #FFFFFF;
    border: 3px solid #ffffff;
}

.service_icons_section .effect_content .service_type_shadow:Hover img {
    -webkit-filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.8);
}

.service_icons_section .effect_content strong {
    color: #96999C;
}

.service_icons_section .effect_content:hover strong {
    color: #ffffff;
}

/**------ end service animation icons ------**/
/**------------------------- end service inner pages -----------------------**/