footer {
    padding: 10px;

    .custom-footer-padding {
        background-color: #111111;
    }

    .address-box {
        margin-bottom: 60px;

        .address-info {
            color: #e8e8e8;
            padding-right: 130px;
        }

        .address-title {
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 25px;

            &::before {
                content: "";
                height: 4px;
                width: 15px;
                background-color: #ff5e17;
                position: absolute;
                bottom: 0px;
                left: 0;
                border-radius: 10px;
                border: none;
            }

            &::after {
                content: "";
                height: 4px;
                width: 34px;
                background-color: #fa360a;
                position: absolute;
                bottom: 0px;
                left: 21px;
                border-radius: 10px;
                border: none;
            }
        }
    }

    // .color-overlay1 {
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    // }

    // .color-overlay2 {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    // }

    .footer-inner {

        margin-top: -70px;
        margin-bottom: -0px;

        .footer-top-area {
            background-color: #ffffff;
            padding: 86px 0 90px;
            box-shadow: 0 25px 27px 0 rgb(154 154 154 / 34%);
            margin-left: calc((100% - 1140px) / 2 - 85px);
            margin-right: calc((100% - 1140px) / 2 - 85px);

            .widgettitle {

                color: #000;
                font-size: 28px;
                line-height: 36px;
                font-style: normal;
                font-weight: 700;
            }

            .textwidget {

                p {
                    margin: 0 0 20px 0;
                }
            }


            #menu-quick-links {
                display: flex;
                flex-wrap: wrap;
                padding-left: 0px;

                li {
                    flex: 0 0 40%;
                    max-width: 40%;
                    list-style: none;

                    a {
                        color: #444444;
                        display: inline-block;
                        transition: all 0.3s ease-in-out;
                        text-decoration: none;
                    }
                }
            }

        }

    }
}