@media (max-width: 480px) {

    .scene-container {

        width: 100% !important;
        height: unset !important;
    }

    canvas {

        width: 100% !important;
        height: unset !important;
    }
}

@media (max-width: 767px) {

    .scene-container {

        width: 100% !important;
        height: unset !important;
    }

    canvas {

        width: 100% !important;
        height: unset !important;
    }
}