.theiaStickySidebar {

    ul {
        list-style: none;

        li {

            font-weight: 500;
            color: #444;

            i {
                margin-right: 15px;
            }

            a {

                text-decoration: none;
                color: #000;
            }
        }
    }
}